body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

#stage{
  height: 100vh;
  position: relative;

  h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.square{
  width: 30px;
  height: 30px;
  background-color: yellow;
  position: absolute;
  transition: all;
  transition-duration: 1000ms;
}

main{
  padding: 10px;
  text-align: center;
}

.caret{
  color: red;
  animation-name: carett-visibility;
  animation-iteration-count: infinite;
  animation-duration: 500ms;
}

@keyframes carett-visibility{
  8%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}

